extends ../../layouts/default

block content
	main.wrapper
		section.index-title
			.index-title__mask
			div.index-title__video#particle-main
				.index-title__content
					h1.index-title__heading.error-name.white-text.center-align.glitch-text(data-text="ХУЙ")
						| 404
					p.index-title__desc.error-desc.white-text.center-align.glitch-text
						| Page not found
