@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css";
@-moz-keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 80px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 182px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 152px, 0);
  }
  25% {
    clip: rect(68px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(116px, 9999px, 154px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 104px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 180px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 188px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(128px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(110px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(148px, 9999px, 128px, 0);
  }
  85% {
    clip: rect(196px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(176px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 186px, 0);
  }
}
@-webkit-keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 80px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 182px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 152px, 0);
  }
  25% {
    clip: rect(68px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(116px, 9999px, 154px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 104px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 180px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 188px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(128px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(110px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(148px, 9999px, 128px, 0);
  }
  85% {
    clip: rect(196px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(176px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 186px, 0);
  }
}
@-o-keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 80px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 182px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 152px, 0);
  }
  25% {
    clip: rect(68px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(116px, 9999px, 154px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 104px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 180px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 188px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(128px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(110px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(148px, 9999px, 128px, 0);
  }
  85% {
    clip: rect(196px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(176px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 186px, 0);
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 80px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 39px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 182px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 152px, 0);
  }
  25% {
    clip: rect(68px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(116px, 9999px, 154px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 104px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 180px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 188px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  70% {
    clip: rect(128px, 9999px, 8px, 0);
  }
  75% {
    clip: rect(110px, 9999px, 72px, 0);
  }
  80% {
    clip: rect(148px, 9999px, 128px, 0);
  }
  85% {
    clip: rect(196px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(176px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 186px, 0);
  }
}
@-moz-keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@-o-keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@-moz-keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@-o-keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(35px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(73px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 87px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(52px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(77px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 93px, 0);
  }
}
.glitch-text {
  position: relative;
  display: block;
  font-family: monospace;
}
.glitch-text:before,
.glitch-text:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  top: 0;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}
.glitch-text:before {
  left: -2px;
  text-shadow: 1px 0 #00f;
  animation: noise-anim-2 1.5s infinite linear alternate-reverse;
}
.glitch-text:after {
  left: 2px;
  text-shadow: -1px 0 #f00;
  animation: noise-anim 1s infinite linear alternate-reverse;
}
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-wrapper__logo {
  width: 100px;
  height: 100%;
  background-image: url("/images/bobro.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 105%;
  z-index: 999999;
}
@media only screen and (max-width: 992px) {
  .nav-wrapper__logo {
    background-size: 95%;
  }
}
#body,
.wrapper,
.index-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}
.index-title {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
}
@media only screen and (min-width: 601px) {
  .index-title {
    height: calc(100vh - 64px);
  }
}
.index-title__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%), linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
  background-size: 100% 2px, 3px 100%;
  z-index: 1;
}
html:not(.mobile) .index-title__video-wrap {
  overflow: hidden;
}
.index-title__video {
  height: 100%;
  background-size: 100% 2px, 3px 100%;
}
.index-title__video canvas {
  background-color: #000;
}
.index-title__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-name {
  margin: 0;
  font-family: 'Roboto';
  font-size: 180px;
  font-weight: bold;
}
.error-desc {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
}
.space-block {
  width: 100%;
  height: 300px;
}
